<h1>List Student</h1>

 <p *ngIf="!stdList"><em>Loading data. Please wait ...</em></p>

<table class='table table-primary table-bordered table-hover' *ngIf="stdList">
  <thead>
    <tr class="bg-warning">
      <th>StudentID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let std of stdList">
      <td>{{ std.studentID }}</td>
      <td>{{ std.firstName }}</td>
      <td>{{ std.lastName }}</td>
      <td>{{ std.email }}</td>
      <td>
        <a class="btn-sm btn-success" [routerLink]="['/add-student',std.studentID]">Edit</a>
        <a class="btn-sm btn-danger" [routerLink]="" (click)="deleteStudent(std.studentID)">Delete</a>
      </td>
    </tr>
    <tr *ngIf="!stdList || stdList.length == 0" >
      <td colspan="5">
        No Students to display
      </td>
    </tr>

  </tbody>
</table>

