<h1>List Student</h1>

<p>Show all student here.</p>

 <p *ngIf="!stdList"><em>Loading data. Please wait ...</em></p>

<table class='table' *ngIf="stdList">
  <thead>
    <tr>
      <th>StudentID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let std of stdList">
      <td>{{ std.studentID }}</td>
      <td>{{ std.firstName }}</td>
      <td>{{ std.lastName }}</td>
      <td>{{ std.email }}</td>
      <td></td>
      <td>
        <a [routerLink]="['/add-student',std.studentID]">Edit | </a>
        <a [routerLink]="" (click)="deleteStudent(std.studentID)">Delete</a>
      </td>
    </tr>
    <tr *ngIf="!stdList" && stdList.length = 0>
      <td colspan="5">
        No Students to display
      </td>
    </tr>

  </tbody>
</table>

