/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-color: #F0F0F0;
}

/* Centering website title*/
#banner {
    text-align: center;
    height: 65px;
}

.banner-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand.title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.7em;
    font-family: 'Cormorant Garamond', serif;
}

/* Adding landing page's background */
.main-content {
    width: 100%;
    height: calc(100vh - 65px);
}

.main-content > img {
    width: inherit;
    height: inherit;
    opacity: 0.8;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 20px;
}


/* Home Index*/
.content-area {
    position: absolute;
    top: 120px;
    left: 250px;
}

/* Home FAQ*/
.container{
    padding-bottom: 20px;
}

.faq-container{
    width: 700px;
}

/* Sidebar nav*/
.sidebar {
    position: absolute;
    top: 120px;
    left: 50px;
    max-width: 30rem;
}

.login-wrapper {
    padding-top:20px;
    padding-left:50px;
}



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
