@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@using Microsoft.AspNetCore.Identity

@inject SignInManager<AccountUser> SignInManager
@inject UserManager<AccountUser> UserManager


<nav class="card border-secondary sidebar">
    <h3 class="card-header border-secondary bg-light">Navigation</h3>

    <div class="list-group list-group-flush">
        @if (SignInManager.IsSignedIn(User))
        {
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Welcome @UserManager.GetUserName(User)!</a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
                    </li>
                </ul>
            </form>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" class="list-group-item ">Home</a>
            <a asp-controller="Home" asp-action="FAQ" class="list-group-item ">F.A.Q.</a>
            <a asp-controller="Home" asp-action="Contact" class="list-group-item active">Contact</a>
        }
    </div>
</nav>