
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Students" asp-action="Index" class="navbar-brand">Student Homepage</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Students" asp-action="ListStudents">List Students</a></li>
                <li><a asp-area="" asp-controller="Students" asp-action="">View Staff Availability</a></li>
                <li><a asp-area="" asp-controller="Students" asp-action="Create">Make a Booking</a></li>
                <li><a asp-area="" asp-controller="Students" asp-action="Delete">Cancel a Booking</a></li>
            </ul>
            <!--<partial name="_LoginPartial" />-->
        </div>
    </div>
</nav>