<h1>{{title}}</h1>

<p *ngIf="!staffSlots">Please input staff ID</p>

<form [formGroup]="form"
      (ngSubmit)="getSlots()">

  <div class="form-group row">
    <label for="staffID">Staff ID</label>
    <input type="text" name="staffID" id="staffID" formControlName="staffID">
    <div *ngIf="form.get('staffID').hasError('pattern')" class="error">
      Staff ID should with e and followed with 5 numbers
    </div>
  </div>
  <div class="form-group row">
    <label for="view">View: </label>
    <select name="view" id="view" formControlName="view">
      <option *ngFor="let option of options" [value]="option">{{option}}</option>
    </select>
  </div>
  <div class="form-group row">
    <button class="btn" type="submit" [disabled]="!form.valid">Find Slots</button>
  </div>

</form>


