@model ASR.Models.Staff

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="body-content content-area">
    <h1>Welcome @Model.FirstName  @Model.LastName</h1>
    <h3>@Model.Email</h3>

</div>


@section navigation{
    <partial name="_SidebarNav" />
}