@model ASR.Models.Staff

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<h1>Staff Homepage </h1>
<h2 class="form-control-static">Welcome @Model.FirstName @Model.LastName </h2>
<h3>Email : @Model.Email</h3>
<br />

@section navigation{
    <partial name="_SidebarNav" />
}

