@model ASR.Models.Staff

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@section navigation{
    @await Html.PartialAsync("_StaffPartialView")
}

<h2>Homepage @Model.FirstName @Model.LastName </h2>
<br/>



