@{
    ViewData["Title"] = "Room Availability";
    Layout = "_Layout";
}

@section navigation
{
    @await Html.PartialAsync("_StaffPartialView")
}
    
<h1>Room Availability</h1>

<form asp-controller="Staffs" asp-action="ShowRoomAvailability" method="get">
    <p>
        <label>Input search date: </label>
        <input type="date" name="SearchDate" value="2019-01-01" />
        <input type="Submit" value="filter" />
    </p>
</form>
<h3>
    Availability rooms on @DateTime.Today.ToLongDateString() 
</h3>

    

