@{
    ViewData["Title"] = "Room Availability";
    Layout = "_Layout";
}

@section navigation
{
    @await Html.PartialAsync("_StaffPartialView")
}
    
<h2>Room Availability</h2>

    <form asp-controller="Staffs" asp-action="ShowRoomAvailability" asp-route-id="@ViewBag.id" method="post">
        <p>
            <label>Input search date: </label>
            <input type="date" name="SearchDate" value ="@DateTime.Today.Date" />
            <input type="Submit" value="filter" />
        </p>
    </form>

    

