@model ASR.Models.Slot

@{
    ViewData["Title"] = "SlotDelete";
    Layout = "_Layout";
}

@section Navigation{
    @await Html.PartialAsync("_StaffPartialView");
}

<h2>Slot Delete Confirm</h2>

@if (ViewBag.Message != "")
{
    <h2>@ViewBag.Message</h2>
    <hr />
}
else
{
    <h3>Are you sure you want to delete this?</h3>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="SlotDelete" method="post">
                <div class="form-group">
                    <input type="hidden" asp-for="RoomID" class="form-control" />
                </div>
                <div>
                    <label class="control-label" asp-for="Room.RoomName"></label>
                    <input type="text" asp-for="Room.RoomName" class="form-control" />
                </div>
                <div>
                    <label class="control-label" asp-for="StartTime"></label>
                    <input type="text" asp-for="StartTime" class="form-control" />
                </div>
                <div>
                    <label class="control-label" asp-for="StaffID"></label>
                    <input type="text" asp-for="StaffID" class="form-control" />
                </div>
                <div>
                    <label class="control-label" asp-for="StudentID"></label>
                    <input type="text" asp-for="StudentID" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
                <div>
                    <a asp-action="ListSlots" asp-route-id="@ViewBag.id">Back to List</a>
                </div>
            </form>
        </div>
    </div>
}


