<h1>List Staff</h1>

<p>Show all staff here .</p>

 <p *ngIf="!staffList"><em>Loading data. Please wait ...</em></p>

<table class='table table-primary table-bordered table-hover'  *ngIf="staffList">
  <thead>
    <tr class="bg-warning">
      <th>StaffID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let staff of staffList">
      <td>{{ staff.staffID }}</td>
      <td>{{ staff.firstName }}</td>
      <td>{{ staff.lastName }}</td>
      <td>{{ staff.email }}</td>
      <td>
        <a class="btn-sm btn-success" [routerLink]="['/add-staff/',staff.staffID]">Edit</a>
        <a class="btn-sm btn-danger" [routerLink]="" (click)="deleteStaff(staff.staffID)">Delete</a>
      </td>
    </tr>
    <tr *ngIf="!staffList" && staffList.length = 0>
      <td colspan="5">
        No Staffs to display
      </td>
    </tr>

  </tbody>
</table>

