@model ASR.Models.Slot

@{
    ViewData["Title"] = "Cancel Booking";
    Layout = "_Layout";
}

@section navigation{
    <partial name="_SidebarNav" />
}

<div class="body-content content-area">
    <h2>Cancel Booking</h2>

    <hr />

    @if (ViewBag.Message != "")
    {
        <div class="alert alert-dismissible alert-warning">
            <p>@ViewBag.Message</p>
            <a class="btn btn-success" asp-action="Index" asp-route-id="@ViewBag.id">Home</a>
            <a class="btn btn-success" asp-action="ListBookedSlots" asp-route-id="@ViewBag.id">Cancel more bookings</a>
        </div>
    }
    else
    {
        <form asp-action="CancelBooking" method="post">
            @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
            {
                <div asp-validation-summary="ModelOnly" class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            }

            <div class="form-group">
                <input type="hidden" asp-for="Room.RoomID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Room.RoomName" class="control-label"></label>
                <input type="text" asp-for="Room.RoomName" class="form-control" readonly />
                <span asp-validation-for="Room.RoomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input type="text" asp-for="StartTime" class="form-control" readonly />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffID" class="control-label"></label>
                <input type="text" asp-for="StaffID" class="form-control" readonly />
                <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <input type="text" asp-for="StudentID" class="form-control" readonly />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cancel Booking" class="btn btn-success" />
                <a asp-action="ListBookedSlots" asp-route-id="@ViewBag.id" class="btn btn-danger">Back</a>
            </div>
        </form>
    }
</div>