
@{
    ViewData["Title"] = "Contact";
}

<section class="main-content">
    <div class="body-content content-area">
        <div class="container">
            <h1>Get in touch</h1>
            <hr />
            <p>
                This project is a joint effort by Callista Kitaro and Martina Yulianti.
            </p>

            <p>Visit our GitHub:</p>
            <ul>
                <li><a href="https://github.com/CallistaKitaro">Callista Kitaro</a></li>
                <li><a href="https://github.com/rmit-s3625730-martina-yulianti">Martina Yulianti</a></li>
            </ul>
        </div>
        
    </div>
</section>

@section navigation{
    <partial name="_SidebarNav" />
}
