@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Appointment Scheduling and Reservation System</h1>
        <p>The easier way to make schedule and appointment between student and staff</p>
        <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Login</a>
        </p>
    </div>

</div> <!-- /container -->
